body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    width: 30%;
    background-image: url(https://upnow-prod.ff45e40d1a1c8f7e7de4e976d0c9e555.r2.cloudflarestorage.com/KoHW0piuIddtrGl8IvzmDDZxxy02/d523f4d6-e673-40a1-a053-e8b67113c4f6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=cdd12e35bbd220303957dc5603a4cc8e%2F20241113%2Fauto%2Fs3%2Faws4_request&X-Amz-Date=20241113T190311Z&X-Amz-Expires=43200&X-Amz-Signature=764d802f645beb2f2d42736e6cb297f8406f1ff4c312eae5361d13e190ebdce2&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22NO%20SIGNAL.png%22);  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(231, 209, 8, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }

  .input-text {
    border: none;
    border-bottom: 1px solid rgb(0, 183, 255);
    font-size: 1rem;
    margin: 2px 0 5px;
    width: 100%;
    background-color: transparent;
  }
  
  .input-label {
        display: block;
    color: rgb(0, 0, 0);
    font-size: large;
    margin: 20px 0 5px;
    background-color: transparent;
    }

  .button:hover {
    opacity: 70%;
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  }

.button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    left: 33%;
    margin-top: 30px;
    letter-spacing: 2px;
  }
